@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

/* css for cards >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.container {
  max-width: 1200px;
  padding: 1rem;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
}

.card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-thumbnail {
  position: relative;
  overflow: hidden;
}

.card-thumbnail img {
  aspect-ratio: 4/2;
  width: 100%;
  height: 100%;
}
.overlay-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-div:hover {
  opacity: 1;
}

.learn-more {
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-weight: 900;
  margin-bottom: 10px;
  cursor: pointer;
}

.card-text {
  color: #989595;
  margin-top: 1.5rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.author-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-name::after {
  content: " -";
  padding-right: 4px;
}

.author-name {
  color: #989595;
  font-size: 12px;
}

.author-role {
  color: #989595;
  font-size: 12px;
}

.data-date {
  color: #989595;
  font-size: 12px;
}

/* css for modal >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
  margin-left: 95%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 36px;
  color: #989595;
}

.modal-content {
  max-width: 600px;
}

.modal .card {
  border: none;
  box-shadow: none;
  border-radius: 0px;
}
.author-avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

/* for responsive design >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media all and (max-width: 480px) {
  .container {
    padding: 1rem;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
  }
}
